Package: prettyboot
Version: 1.0.0
Architecture: all
Maintainer: SivaKanth007 <dtavvala@asu.edu>
Installed-Size: 1550
Depends: refind, python3, python3-gi, python3-gi-cairo, python3-cairo, gir1.2-gtk-4.0, polkitd, pkexec
Section: admin
Priority: optional
Homepage: https://github.com/SivaKanth007/prettyboot
Description: Graphical, themeable rEFInd boot menu manager
 prettyboot manages a rEFInd boot menu: switch Mac-style light/dark themes,
 set timeout and other options, drag-and-drop import themes, and edit icons.
 Provides both a terminal CLI (prettyboot) and a GTK desktop app
 (searchable as "prettyboot").
